@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  color: #F2E4CB;
  background: #C20C19;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-center;
}

#PomodoroApp {
  min-width: 600px;
  margin: auto;
}

#title {
  font-size: 5rem;
  white-space: nowrap;
}

#break-session-wrapper {
  display: flex;
  min-width: 600px;
  justify-content: space-around;
}

.adjuster-ui {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #228528;
  outline: none;
}

#break-length, #session-length {
  width: 6rem;
  font-size: 6rem;
}

#break-length, #time-left, #session-length {
  color: #FF5E17;
}

#timer-label {
  text-transform: capitalize;
  font-size: 8rem;
}

#timer-label, #break-label, #session-label {
  white-space: nowrap;
}

#time-left {
  font-size: 12rem;
}

#start_stop, #reset {
  font-size: 5rem;
  margin: 0.5rem;
}
  

